@tailwind base;
@tailwind utilities;
@tailwind components;

@font-face {
    font-family: plain-light;
    src: url(./plain-light-webfont.ttf);
}

@font-face {
    font-family: silkserif;
    src: url(./silkserif-lightitalic-webfont.ttf);
}

body,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #151515;
    cursor: none;
}


.loader {
    display: none;
}


.sheryeffect {
    opacity: 1;
}

#texthover:hover {
    -webkit-text-stroke: 1px white;
    color: transparent
}

._canvas_container {
    z-index: 99999999999 !important;
}

.now {
    font-size: 500;
    /* -webkit-text-stroke: 1px white; */
    color: white;
    animation: stroke 1s infinite linear alternate;
}

@keyframes stroke {
    0% {
        font-family: plain-light;
    }

    100% {
        font-family: silkserif;
        background: transparent;
        color: black;
        -webkit-text-stroke: 1px white;

    }
}

.scroll {
    animation: scroll 2s infinite ease-in-out;
}

@keyframes scroll {
    0% {
        transform: translateY(0%);
    }

    100% {
        transform: translateY(200%);
    }
}

.mesass {
    scale: 0;
    transition: all ease 0.5s;
}

.svgcircle:hover .mesass {
    scale: 1;
}

.mesass h1 {
    scale: 0;
    transition-delay: 0.5s;
    transition: all ease 2s;

}

.svgcircle:hover .mesass h1 {
    scale: 1;


}

.textsscroll {
    overflow: hidden;
    white-space: nowrap;
}

.wraper {
    display: inline-block;
    animation: scrollRightToLeft 25s linear infinite;
}

.wraper2 {
    display: inline-block;
    animation: scrollRightToLeft 25s linear infinite reverse;
}

@keyframes scrollRightToLeft {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-100%);
    }
}


.textsscroll .wraper h1,
.textsscroll .wraper2 h1 {
    display: inline-block;
    -webkit-text-stroke: 1px white;
    color: transparent;

}

.texteffect h1 {
    transition: all ease 0.5s;
}

.texteffect h1:nth-child(even) {
    transition-delay: .01s;
}

.texteffect:hover h1 {
    transform: translateY(-100%);
}

#silk {
    -webkit-text-stroke: 1px white;
    color: transparent;
}

.fottereffect a {
    transition: all ease 0.5s;
}

.fottereffect a:nth-child(even) {
    transition-delay: 0.1s;
}

.fottereffect:hover a {
    transform: translateY(-100%);
}

#plain span {

    font-size: 7vw;
    font-weight: 700;
    color: white;
    text-transform: uppercase;
    font-family: plain-light;
}


#silk span {
    font-family: silkserif;
    opacity: 0;
}
.mousefollower{
    height: 35px;
    width: 35px;
    background-color: transparent !important;
    mix-blend-mode: normal;
    border: 1px solid #fff;
}

